@model Student
<table class="table align-middle shadow table-hover w-50 m-auto">
	
	
	<tbody>
		<tr class="table-success">
			<th class="p-3 text-center" scope="col">Name</th>
			<td class="p-3 text-center table-light" scope="col">@Model.Name</td>
		</tr>
		<tr class="table-success">
			<th class="p-3 text-center" scope="col">Department</th>
			<td class="p-3 text-center table-light" scope="col">@Model.Department</td>
		</tr>
		<tr class="table-success">
			<th class="p-3 text-center" scope="col">Email</th>
			<td class="p-3 text-center table-light" scope="col">@Model.Email</td>
		</tr>


	</tbody>
</table>