*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.sideBar{
    background-color: #f44336;
    position: fixed;
    height: 100vh;
    padding: 30px 25px;
    color: aliceblue;
    font-size: 0.79rem;
    width: 17%;
}
.sideBar >h1{
    margin-top: 80px ;
}
.sideBar > h1 + h1{
    margin-bottom: 80px ;
    margin-top: 0px;
}

.sideBar li{
    list-style: none;
}
.sideBar li:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}
.content{
    padding-left: 23%;
    padding-top: 50px;
    padding-right: 50px;
}
.content-head{
    font-size: 55px;
}
.section-head{
    margin-top: 20px;
    color: #f44336;
    font-size: 40px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-head::after{
    content: "";
    width: 50px;
    height: 10px;
    display: flex;
    background-color: #f44336;
    border-radius: 10px;
    margin-top: 20px;

}
.Showcase-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}
.Showcase-images img{
    width: 550px;
    opacity: .8;
    margin-top: 12px;
}
.Showcase-images img:hover{
    opacity: 1;
    cursor: pointer;
}
.sideBar a{
    color: inherit;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.services-container{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
