<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- section 1 -->
    <div class="sideBar">
      <h1>Company</h1>
      <h1>Name</h1>
      <ul>
        <li>
          <a href="#home"><h2>Home</h2></a>
        </li>
        <li>
          <a href="#showcase"><h2>Showcase</h2></a>
        </li>
        <li>
          <a href="#services"><h2>Services</h2></a>
        </li>
        <li>
          <a href="#designers"><h2>Designers</h2></a>
        </li>
        <li>
          <a href="#packages"><h2>Packages</h2></a>
        </li>
        <li>
          <a href="#contact"><h2>Contact</h2></a>
        </li>
      </ul>
    </div>
    <!-- section 2 -->
    <div class="content" id="home">
      <nav>
        <h1 id="welcome">Welcome to our web site</h1>
        <a href="signUp" id="navBtn"><button>Sign Up</button></a>
      </nav>
      <h1 class="content-head" >Interior Design</h1>
      <div class="showcase-container" id="showcase">
        <h1 class="section-head">Showcase.</h1>
        <div class="Showcase-images">
          <img src="images/atrium.jpg" alt="" />
          <img src="images/bedroom.jpg" alt="" />
          <img src="images/diningroom.jpg" alt="" />
          <img src="images/kitchenconcrete.jpg" alt="" />
          <img src="images/livingroom.jpg" alt="" />
          <img src="images/livingroom2.jpg" alt="" />
        </div>
      </div>
      <!-- section 3 -->
      <div class="services-container" id="services">
        <h1 class="section-head">Services.</h1>
        <p>
          We are a interior design service that focus on what's best for your
          home and what's best for you!
        </p>
        <p>
          Some text about our services - what we do and what we offer. We are
          lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </p>
      </div>
      <!-- section 4 -->
      <div class="designers-container" id="designers">
        <h1 class="section-head">Designers.</h1>
        <p>The best team in the world.</p>
        <p>
          We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <strong>Our designers are thoughtfully chosen: </strong>
        <!-- section 5 -->
        <div class="designers-cards">
          <div class="designer-card">
            <img src="images/team2.jpg" alt="" />
            <p class="name">John Doe</p>
            <p class="position">CEO & Founder</p>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
              sodales pellentesque elementum.
            </p>
          </div>
          <div class="designer-card">
            <img src="images/team1.jpg" alt="" />
            <p class="name">John Doe</p>
            <p class="position">Designer</p>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
              sodales pellentesque elementum.
            </p>
          </div>
          <div class="designer-card">
            <img src="images/team3.jpg" alt="" />
            <p class="name">Mike Ross</p>
            <p class="position">Architect</p>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
              sodales pellentesque elementum.
            </p>
          </div>
        </div>
      </div>
      <!-- section 6 -->
      <div class="packages-container" id="packages">
        <h1 class="section-head">Packages.</h1>
        <p>
          Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure
        </p>
        <div class="packages">
          <div class="package-card">
            <div class="bg-basic">Basic</div>
            <section>Floorplanning</section>
            <section>10 hours support</section>
            <section>Photography</section>
            <section>20% furniture discount</section>
            <section>Good deals</section>
            <section>
              <div class="currency">$ 199</div>
              <div>per room</div>
            </section>
            <section class="border-none">
              <button class="btn-w">Sign Up</button>
            </section>
          </div>
          <div class="package-card">
            <div class="bg-basic bg-orange">Pro</div>
            <section>Floorplanning</section>
            <section>50 hours support</section>
            <section>Photography</section>
            <section>20% furniture discount</section>
            <section>GREAT deals</section>
            <section>
              <div class="currency">$ 249</div>
              <div>per room</div>
            </section>
            <section class="border-none"><button>Sign Up</button></section>
          </div>
        </div>
      </div>
      <!-- section 7 -->
      <div class="contact-container" id="contact">
        <h1 class="section-head">Contact.</h1>
        <p>
          Do you want us to style your home? Fill out the form and fill me in
          with the details :) We love meeting new people!
        </p>
        <form>
          <div class="label-input">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="label-input">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="label-input">
            <label for="message">Message</label>
            <input type="text" name="message" id="message" />
          </div>
          <button class="btn">Send Message</button>
        </form>
      </div>
      <!-- Section 8 -->
      <footer>by Mohamed Eltabei</footer>
    </div>
    <script src="script.js"></script>
  </body>
</html>
