img{
    width: 15px;
    position: absolute;
    right: 10px;
    top: 6px;
}
div{
    position: relative;
    width: max-content;
}
input{
    padding: 4px 10px;
}
.d-none{
    opacity: 0;
}
#password{
    position: absolute;
}